*
{
    padding: 0;
    margin: 0;
}

.container
{
    display: grid;
    justify-content: center;
    text-align: center;
    row-gap: 10px;
}

h1
{
    padding-top: 10px;
}

h2
{
    padding-top: 30px;
}

.board
{
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid black;
    background-color: #dbe6b9;
}

.cell
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3em;
    cursor: pointer;
}

.play, .reset
{
    background-color:#dbe6b9;
    font-weight: bold;
    border-radius: 10px;
    font-size: 1.1em;
    height: 50px;
}